.pagina {
    height: 400px;
    width: 100%;
    
}
.botonPagina {
text-align: center;
height: 100px;

}

.img-fluid {
    width: auto;
    height: 100%;
}   

.articulo {
    border: solid $color2;
    background-color: rgb(173, 216, 202);  
    margin: auto;
    padding: auto;
    text-align: center;
    .lista {           
        ul {
        text-align: center;
        }
        li{
            font-size: 20px;
            list-style: none;
        }
    }
}
