$color1:rgb(255, 255, 255);
$color2: rgb(0,0,0);
$fontTa: 35px;


.encabezado {
    background-image: url(../galeria/fondoheader.jpg);
    min-height: 420px;
    width: 100%;
}
header {
    color: $color1;

}
.seccion {
    text-align: center;
    height: 550px;
    border: solid $color2;
    background-image: url(../galeria/fondoViniedo.jpg);
    color: $color1;

}

.logo {
    width: 200px;
    height: 200px;  
}

.logoTitulo h1 {
    font-size: 60px;
}

.logoTitulo h2 {
    font-size: $fontTa;
}

div.logoTitulo {
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 40px;    
}

.caja {        
    filter: grayscale(50%); 
}  

.caja:hover{ 
    transform: scale(1.05);
    transition: all 1s;
    filter: grayscale(0);
}
h4 :hover{
    transform: scale(1.05);
    transition: all 1s;
}

/*--------------------footer--------------------*/

@import "_footer";
@import "_pagina";
