$color1:rgb(255, 255, 255);
$color2: rgb(0,0,0);
$color3:rgb(102, 84, 100);
$fontTa: 35px;


.encabezado {
    background-image: url(../galeria/fondoheader.jpg);
    min-height: 100px;
    width: 100%;
}
.logoFijo{
    position: fixed;
    left: 0;
    top: 0;
}

.header {
    color: $color1;

}
.seccion {
    text-align: center;
    height: 550px;    
    color: $color3;    
        .texto{
        color: $color1;
        text-transform: uppercase;
        font-family: 'Times New Roman', Times, serif;
        font-size: 25px;
        font-weight: bold;
        }
        h2{
            color: $color2;
        }
        .imagen{
            img{
                border-radius: 25px;
            }
            
        }

}

.arbol-fondo,
.copa-fondo,
.barricas-fondo,
.cielo-fondo {
    height: 550px;
    width: 100%;
    border: 2px solid $color2;
    }

@each $imagenes in arbol , copa , barricas ,cielo {
    .#{$imagenes}-fondo {
        background-image: url("../galeria/#{$imagenes}.jpg");
        }

    
}


.logo {
    width: 200px;
    height: 200px;  
}

.logoTitulo{ 
    h1 {
    font-size: 60px;
    color: $color1;
    }
    
    h2 {
    font-size: $fontTa;
    color: $color1;

    }
}

div.logoTitulo {
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 40px;    
}

.caja {        
    filter: grayscale(50%); 
}  

.caja:hover{ 
    transform: scale(1.05);
    transition: all 1s;
    filter: grayscale(0);
}
h4 :hover{
    transform: scale(1.05);
    transition: all 1s;
}

/*--------------------footer--------------------*/

@import "_footer";
@import "_pagina";
